@font-face {
    font-family:'OPPOSans R';
    src:url('https://tuchuang-1258604854.cos.ap-chengdu.myqcloud.com/OPPOSans.ttf');
    font-display:swap
}
h1#site-title {
    font-family:OPPOSans R!important
}
span#subtitle {
    font-family:OPPOSans R!important
}
a#site-name {
    font-family:OPPOSans R!important
}