if theme.aside.card_clock.enable
  .card-widget.card-clock
    #clock
      img(v-if='clockshow == "false"',alt='' src='/assets/weather/loading.gif', height='120px' width='100%')
      table.clock(v-if='clockshow')
        tbody
          tr
            td.clockdate {{date}}
            td.weatherimg
              img#weatherimg(:src='weatherimg' alt='')
            td.temperature {{temperature}}
            td.humidityimg
              img#humidityimg(:src='humidityimg' alt='')
            td.humidity {{humidity}}
          tr.time
            td(colspan='5') {{time}}
          tr
            td.usaqi(colspan='1') 
             span {{ip}}
            td.city(colspan='2') {{city}}
            td.daylight(colspan='2') {{daylight}}
  script(defer data-pjax src=url_for(theme.CDN.card_clock))
