/* 滚动条隐藏 */
::-webkit-scrollbar {
    display: none;
  }
  /* 禁用图片点击,butterfly渲染后会给图片套上fancybox，点开后会造成信笺偏移*/
  .fancybox{
     pointer-events: none;
  }
  /* top-img隐藏 */
  #page-header {
    background: transparent !important;
  }
  /* 宽度小于530px隐藏信封 */
  @media screen and (max-width: 530px) {
    #computer {
      display: none !important;
    }
  }
  
  @media screen and (min-width: 530px) {
    #mobile {
      display: none !important;
    }
  }
  
  #article-container img {
    margin: 0 auto 0rem;
  }
  
  #form-wrap {
    overflow: hidden;
    height: 447px;
    position: relative;
    top: 0px;
    transition: all 1s ease-in-out .3s;
    z-index: 0;
  }
  /* 调整信封划出高度，换信笺内容以后可在此设置height */
  #form-wrap:hover {
    height: 1050px;
    top: -200px;
  }
  
  #beforeimg {
    position: absolute;
    bottom: 126px;
    left: 0px;
    background-repeat: no-repeat;
    width: 530px;
    height: 317px;
    z-index: -100;
    pointer-events: none;
  }
  
  #afterimg {
    position: absolute;
    bottom: -2px;
    left: 0;
    background-repeat: no-repeat;
    width: 530px;
    height: 259px;
    z-index: 100;
    pointer-events: none;
  }
  
  #envelope {
    position: relative;
    overflow: visible;
    width: 500px;
    margin: 0px auto;
    transition: all 1s ease-in-out .3s;
    padding-top: 200px;
  }
  
  #maincontent {
    width: 530px;
    margin: 20px auto 0;
  }
  
  .headerimg {
    width: 100%;
    overflow: hidden;
    pointer-events: none;
  }
  
  .formmain {
    background: white;
    width: 95%;
    max-width: 800px;
    margin: auto auto;
    border-radius: 5px;
    border: 1px solid;
    overflow: hidden;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.18);
  }
  
  .title3 {
    text-decoration: none;
    color: rgb(246, 214, 175);
  }
  
  .comments {
    border-bottom: #ddd 1px solid;
    border-left: #ddd 1px solid;
    padding-bottom: 20px;
    background-color: #eee;
    margin: 15px 0px;
    padding-left: 20px;
    padding-right: 20px;
    border-top: #ddd 1px solid;
    border-right: #ddd 1px solid;
    padding-top: 20px;
    font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  }
  
  .bottomcontent {
    text-align: center;
    margin-top: 40px;
  }
  
  .bottomimg {
    width: 100%;
    margin: 5px auto 5px auto;
    display: block;
    pointer-events: none;
  }
  
  .bottomhr {
    font-size: 12px;
    text-align: center;
    color: #999;
  }
  /* 夜间模式 */
  [data-theme='dark']
    .formmain {
      background: rgb(50, 50, 50);
    }
  [data-theme='dark']
    .comments {
      background: rgba(90, 90, 90, 0.8)
    }