extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  #recent-posts.recent-posts
    if theme.gitcalendar.enable
      .recent-post-item(style='width:100%;overflow:hidden;')
        !=partial('includes/gitcalendar', {}, {cache:theme.true})
    .recent-post-item(style='height:auto;width:100%;')
      !=partial('includes/sliderbar', {}, {cache: true})
    +postUI
    include includes/pagination.pug