extends includes/layout.pug

block content
  include ./includes/mixins/post-ui.pug
  #recent-posts.recent-posts
    .recent-post-item(style='height:auto;width:100%;')
      !=partial('includes/sliderbar', {}, {cache: true})
    +postUI
    include includes/pagination.pug